<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!-- register DataSource under JNDI -->
    <!-- use DOCKER container name for database host -->
    <Resource auth="Container"
              driverClassName="org.postgresql.Driver"
              maxActive="100" maxIdle="30" maxWait="10000"
              name="jdbc/TestDB" type="javax.sql.DataSource"
              url="jdbc:postgresql://local_postgres:5432/mydatabase"
              username="cornel" password="sefusefu"/>

</Context>
